{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h2>Account update</h2>
{% endblock %}
{% block main %}
<div class="create">
   <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
     <input type="submit" value="Update">
   </form>
    <h2>USER TEST RESULTS:</h2>
    <ul>
        {% for result in user.get_results %}
        <li>{{result}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}