{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h1>Rating</h1>
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>User rating</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for user in user.get_rating %}
                      <tr>
                          <td><img src="{{ user.image.url }}" width="60px"></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.rating }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>

{% endblock %}